:root {
    --color-btn-border-text: #3C48A5;
    --color-list-bullet: #6C6C6C;
    --color-card-text: #424242;
    --color-card_title: #060606;
    --color-faq-background: #E5E5E5;
    --color-btn-background: white;
}

body {
    padding: 10px;

}

.faq-wrapper {
    margin-top: 50px;
}

.faq-wrapper .faq-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.faq-wrapper .faq-container .faq-card {
    width: 431px;
    height: fit-content;
}

.faq-wrapper .faq-container .faq-card .faq-card-title .title-text {
    font-weight: 700;
    font-size: 28px;
    line-height: 33.6px;
    margin-left: 15px;
}

.faq-wrapper .faq-container .faq-card .faq-lists {
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    color: var(--color-card-text);
}