:root {
  --color-btn-border-text: #3c48a5;
  --color-list-bullet: #6c6c6c;
  --color-card-text: #424242;
  --color-card_title: #060606;
  --color-faq-background: #e5e5e5;
  --color-btn-background: white;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.faq-wrapper {
  max-width: 1500px;
  margin: auto;
  font-family: "barlow";
  margin-top: 50px;
}

.faq-wrapper .faq-container {
  display: grid;
  place-content: center;
  gap: 1rem;
  margin: 0 1rem;
}

.faq-wrapper .faq-container .faq-card {
  max-width: 436px;
}

.faq-wrapper .faq-container .faq-card .faq-card-title .title-text {
  font-weight: 700;
  font-size: 28px;
  line-height: 33.6px;
  margin-bottom: 10px;
}

.faq-wrapper .faq-container .faq-card .faq-lists {
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  color: var(--color-card-text);
}
.faq-wrapper .faq-container .faq-card-all-list {
  list-style-position: inside;
}
.faq-wrapper .faq-container .faq-card-btn {
  border: 1px solid var(--color-btn-border-text);
  font-weight: 400;
  font-size: 1.25rem;
  color: var(--color-btn-border-text);
  background-color: var(--color-btn-background);
  width: 108px;
  height: 50px;
  border-radius: 5px;
  margin-top: 15px;
  text-transform: capitalize;
  cursor: pointer;
}
@media screen and (min-width: 600px) {
  .faq-wrapper .faq-container {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 1200px) {
  .faq-wrapper .faq-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
